body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("../image/akshay1.jpeg") center right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

a {
    color: #18d26e;
    text-decoration: none;
}

a:hover {
    color: #35e888;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

.blink_cursor {
    overflow: hidden;
    border-right: .15em solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #fff;
    }
}


/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}

#header * {
    transition: ease-in-out 0.3s;
}

#header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
}

#header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
}

#header .social-links {
    margin-top: 40px;
    display: flex;
}

#header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#header .social-links a:hover {
    background: #18d26e;
}

@media (max-width: 992px) {
    #header h1 {
        font-size: 36px;
    }
    #header h2 {
        font-size: 16px;
        line-height: 30px;
    }
    #header .social-links {
        margin-top: 15px;
    }
    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body::before {
        background: #040404 url("../image/akshay1_small.jpeg") center right no-repeat;
        background-size: cover;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    overflow: hidden;
    position: relative;
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
    z-index: 2;
}

section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
}

section .container {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
}

@media (max-width: 768px) {
    section {
        top: 120px;
    }
    section.section-show {
        top: 80px;
    }
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about-me .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #18d26e;
}

.about-me .content ul {
    list-style: none;
    padding: 0;
}

.about-me .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about-me .content ul strong {
    margin-right: 10px;
}